<div class="brand-area">
    <div class="container">
        <div class="brand-bg pt-80 pb-80" [style.background-image]="'url(assets/img/bg/bg5.jpg)'">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand-active">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/1.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/2.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/3.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/4.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/5.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/1.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/2.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/3.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/4.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/5.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/1.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/2.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/3.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/4.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="col-xl-12">
                                    <div class="brans-img text-center">
                                        <img src="assets/img/brand/5.png" alt="brand" />
                                    </div>
                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>