<main>
    <div class="widget mb-40">
        <div class="widget-title-box mb-30">
            <span class="animate-border">

            </span>
            <h3 class="widget-title">Popular Feeds</h3>
        </div>
        <ul class="recent-posts">
            <li>
                <div class="widget-posts-image">
                    <a [routerLink]="null">
                        <img src="assets/img/blog/details/img1.jpg" alt="image">
                    </a>
                </div>
                <div class="widget-posts-body">
                    <h6 class="widget-posts-title">
                        <a [routerLink]="null">Lorem ipsum dolor sit cing elit, sed
                            do.</a>
                    </h6>
                    <div class="widget-posts-meta">October 18, 2018 </div>
                </div>
            </li>
            <li>
                <div class="widget-posts-image">
                    <a [routerLink]="null">
                        <img src="assets/img/blog/details/img2.jpg" alt="image">
                    </a>
                </div>
                <div class="widget-posts-body">
                    <h6 class="widget-posts-title">
                        <a [routerLink]="null">Lorem ipsum dolor sit cing elit, sed
                            do.</a>
                    </h6>
                    <div class="widget-posts-meta">October 24, 2018 </div>
                </div>
            </li>
            <li>
                <div class="widget-posts-image">
                    <a [routerLink]="null">
                        <img src="assets/img/blog/details/img3.jpg" alt="image">
                    </a>
                </div>
                <div class="widget-posts-body">
                    <h6 class="widget-posts-title">
                        <a [routerLink]="null">Lorem ipsum dolor sit cing elit, sed
                            do.</a>
                    </h6>
                    <div class="widget-posts-meta">October 28, 2018 </div>
                </div>
            </li>
        </ul>
    </div>
</main>