<div class="four-zero-area pt-100 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="four-zero-wrapper text-center">
                    <div class="four-zero-img">
                        <img src="/assets/img/bg/404.jpg" alt="image">
                    </div>
                    <div class="four-zero-text">
                        <h1>Page Not Found</h1>
                        <a class="btn" href="/">Go To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>