<div class="header-area d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-9">
                <div class="header-wrapper">
                    <div class="header-text">
                        <span *ngIf="sectionDetails.has('primaryLocation')">
                            <i class="far fa-map"></i>{{ sectionDetails.get('primaryLocation') }}
                        </span>
                        <span *ngIf="sectionDetails.has('whatsappBusinessNumber')">
                            <a href="tel:{{ sectionDetails.get('whatsappBusinessNumber') | formatPhoneNumber:true }}"
                                [style.color]="'inherit'">
                                <i class="fab fa-whatsapp"></i>{{ sectionDetails.get('whatsappBusinessNumber') |
                                formatPhoneNumber }}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-3">
                <div class="header-icon text-md-right">
                    <a [href]="socialItem.get('link')" *ngFor="let socialItem of socialMedias;" target="_blank">
                        <i [class]="socialItem.get('icon')"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>