<div class="header-area d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-9">
                <div class="header-wrapper">
                    <div class="header-text">
                        <span>
                            <i class="far fa-map"></i>Makamithi Enterprises Ltd</span>
                        <span>
                            <a href="mailto:info@makamithi.com">
                                <i class="far fa-envelope"></i>info@makamithi.com
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-3">
                <div class="header-icon text-md-right">
                    <a [routerLink]="null">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a [routerLink]="null">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a [routerLink]="null">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a [routerLink]="null">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a [routerLink]="null">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>