<div class="about-us-area about-shape pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-info mb-30">
                    <h1>Welcome To <br> Makamithi Agrovet</h1><span>Farmer's choice</span>
                    <p>
                        Makamithi Agrovet is the leading distributor and retailer of farming products in the Ukambani
                        region. Covering Machakos, Makueni and Kitui Counties. We currently have 5 retail branches in
                        Machakos, Emali and Wote Town. All branches have a qualified agronomist and veterinary
                        specialist to support local farmers, ensuring they carry out sustainable farming practices. Our
                        wholesales & distribution fuction operates from Machakos Town and delivers across the region.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-img mb-30">
                    <img src="assets/img/about/2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>