<div class="about-us-area about-shape pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-info mb-30">
                    <h1>Welcome To <br> Makamithi Agrovet</h1><span>Farmer's choice</span>
                    <p>
                        Makamithi Enterprises Ltd was registered in 1998 under the registrar of companies act. We pride
                        our
                        selves in providing high quality farm inputs and veterinary products in the entire Lower Eastern
                        Region.
                        We not only offer retail but also distributor services to the entire region covering: Machakos,
                        Kajiado
                        Makueni, Kitui and Taita Taveta counties and environs.
                    </p>

                    <p>
                        We offer consultative services to farmers by our professional team with 25years experience in
                        the indus
                        try and in collaboration with key partners and stakeholders in the industry. We are centrally
                        located with
                        our branches in Machokos Town, Wote and Emali ensuring that we can easily and efficiently serve
                        both
                        farmers and stockists efficiently and effectively.
                    </p>

                    <p>
                        We also do consultation for stockists as we understand the challenges faced by them. We go out
                        of our
                        way to offer world class customer service with utmost professionalism and integrity while
                        maintaining a
                        personal relationship with all our customers.
                    </p>

                    <p>
                        We keep up with new and upcoming trends in the industry and share the same with all our
                        customers
                        ensuring everyone makes informed decisions in their purchases to both farmers and business
                        owners
                        because, At Makamithi, we are small enough to care, but large enough for the expertise.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-img mb-30">
                    <img src="assets/img/about/2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>