<div class="about-us-area about-shape pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-info mb-30">
                    <h1>Welcome To <br> Makamithi Agrovet</h1><span>Farmer's choice</span>
                    <p>
                        Makamithi Enterprises Ltd was registered in 1998 under the registrar of companies act. We pride
                        ourselves in providing high quality farm inputs and veterinary products in the entire Lower
                        Eastern Region. We not only offer retail but also distributor services to the entire region
                        covering: Machakos, Kajiado Makueni, Kitui and Taita Taveta counties and environs.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-img mb-30">
                    <img src="assets/img/about/2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>