<div class="choose-us-area pt-100 pb-70 pos-relative">
    <div class="shape spahe2 bounce-animate">
        <img src="assets/img/shape/why-shape.png" alt="" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-12">
                <div class="choose-img mb-30">
                    <img src="assets/img/choose/01.jpg" alt="" />
                </div>
            </div>
            <div class="col-xl-5 col-lg-12">
                <div class="choose-wrapper mb-30">
                    <div class="choose-section">
                        <h1>Why Choose Us</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eliseei ustempor incididunt
                            ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud
                            exercitation.</p>
                    </div>
                    <div class="choose-content mb-40">
                        <div class="choose-us-img">
                            <img src="assets/img/icon/1.png" alt="" />
                        </div>
                        <div class="choose-text">
                            <h4>Natural Process</h4>
                            <p>Sorem ipsum dolor sit amet consecta dipisicing elit sed do eiusmod tempor
                                incidide.</p>
                        </div>
                    </div>
                    <div class="choose-content mb-40">
                        <div class="choose-us-img">
                            <img src="assets/img/icon/2.png" alt="" />
                        </div>
                        <div class="choose-text">
                            <h4>100% Organic Products</h4>
                            <p>Sorem ipsum dolor sit amet consecta dipisicing elit sed do eiusmod tempor
                                incidide.</p>
                        </div>
                    </div>
                    <div class="choose-content">
                        <div class="choose-us-img">
                            <img src="assets/img/icon/3.png" alt="" /></div>
                        <div class="choose-text">
                            <h4>Homegrown Goodness</h4>
                            <p>Sorem ipsum dolor sit amet consecta dipisicing elit sed do eiusmod tempor
                                incidide.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>