<main>
    <mak-pit-site-breadcrumb [pageTitle]="blogDetails.title"></mak-pit-site-breadcrumb>
    <div class="blog-area gray-bg pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <article class="postbox post format-image mb-40">
                        <div class="postbox__thumb">
                            <img [src]="blogDetails.image" [alt]="blogDetails.title">
                        </div>
                        <div class="postbox__text p-50">
                            <div class="post-meta mb-15">
                                <span>
                                    <i class="far fa-calendar-check"></i> September 15, 2018</span>
                                <span>
                                    <a [routerLink]="null">
                                        <i class="far fa-user"></i> Diboli B. Joly</a>
                                </span>
                                <span>
                                    <a [routerLink]="null">
                                        <i class="far fa-comments"></i> 23 Comments</a>
                                </span>
                            </div>
                            <h3 class="blog-title">{{ blogDetails.title }}</h3>
                            <div class="post-text mb-20">
                                {{ blogDetails.text }}
                            </div>
                            <mak-pit-blog-post-related></mak-pit-blog-post-related>
                            <mak-pit-blog-post-arrow></mak-pit-blog-post-arrow>
                        </div>
                        <mak-pit-blog-post-author></mak-pit-blog-post-author>
                        <mak-pit-blog-post-comments></mak-pit-blog-post-comments>
                        <mak-pit-blog-comments-form></mak-pit-blog-comments-form>
                    </article>
                </div>
                <div class="col-lg-4">
                    <mak-pit-blog-widget-search></mak-pit-blog-widget-search>

                    <mak-pit-blog-widget-about></mak-pit-blog-widget-about>

                    <mak-pit-blog-widget-feeds></mak-pit-blog-widget-feeds>

                    <mak-pit-blog-widget-cate></mak-pit-blog-widget-cate>

                    <mak-pit-blog-widget-social></mak-pit-blog-widget-social>

                    <mak-pit-blog-widget-tags></mak-pit-blog-widget-tags>

                    <mak-pit-blog-widget-banner></mak-pit-blog-widget-banner>
                </div>
            </div>
        </div>
    </div>
</main>