<div class="side-mobile-menu d-block d-xl-done d-lg-none" [class.open]="menuOpen">
    <div class="close-mobile-menu" (click)="dispatchSetMenuOpenEvt()">
        <span>
            <i>
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="times"
                    class="svg-inline--fa fa-times fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z">
                    </path>
                </svg>
            </i>
        </span>
    </div>
    <div class="mm-menu">
        <ul>
            <li class="has-droupdown" [class.active]="home">
                <a routerLinkActive="/" (click)="toggleMenu('home')">home</a>

                <ul class="sub-menu" [class.active]="home">
                    <li routerLinkActive="active">
                        <a routerLink="/">Home 1</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/home-2">Home 2</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/home-3">Home 3</a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/about-us">About</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/services">Services</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/shop">shop</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/blog">Blog</a>
            </li>
            <li class="has-droupdown" [class.active]="pages">
                <a [routerLink]="null" (click)="toggleMenu('pages')">Pages</a>
                <ul class="sub-menu" [class.active]="pages">
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-1">Gallery 01</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-2">Gallery 02</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-3">Gallery 03</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-details-1">Gallery Details 01</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-details-2">Gallery Details 02</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-details-3">Gallery Details 03</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/gallery-details-4">Gallery Details 04</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/blog-details">Blog Details</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/services/services-details">Service Details</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/shop-details">Shop Details</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/team">Team</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/404">404 Error</a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>