<main>
    <div class="author mt-80 mb-40">
        <div class="author-img text-center">
            <img src="assets/img/blog/details/author.png" alt="">
        </div>
        <div class="author-text text-center">
            <h3>MD. Salim Rana</h3>
            <div class="author-icon">
                <a [routerLink]="null">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-twitter"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-instagram"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa aute irure
                dolor. </p>
        </div>
    </div>
</main>