<div class="contact-area">
    <div class="container">
        <div class="contact-bg pt-90 pb-70" [style.background-image]="'url(assets/img/bg/bg18.jpg)'">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-title text-center mb-35">
                        <h1>Leave a Message</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-wrapper mb-30">
                        <form id="contact-us-form">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <input name="name" placeholder="Name :" type="text" />
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <input name="email" placeholder="Email :" type="email" />
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <input name="website" placeholder="Website :" type="text" />
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <textarea name="message" cols="30" rows="10"
                                        placeholder="Write your comments :"></textarea>
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <div class="contact-button text-center">
                                        <button class="btn" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>