<mak-pit-header></mak-pit-header>

<main>
    <mak-pit-slider-default></mak-pit-slider-default>

    <mak-pit-h1-about-section></mak-pit-h1-about-section>

    <mak-pit-h1-features-section></mak-pit-h1-features-section>

    <mak-pit-product></mak-pit-product>

    <mak-pit-h1-cta-section></mak-pit-h1-cta-section>

    <mak-pit-h1-choose-us-section></mak-pit-h1-choose-us-section>

    <mak-pit-h1-gallery-section></mak-pit-h1-gallery-section>

    <mak-pit-h1-team-section></mak-pit-h1-team-section>

    <mak-pit-counter-default></mak-pit-counter-default>

    <mak-pit-client-slider></mak-pit-client-slider>

    <mak-pit-h1-blog-section></mak-pit-h1-blog-section>

    <!-- <mak-pit-brand></mak-pit-brand> -->
</main>