<div ngClass="row">
    <div ngClass="col-xl-3 col-lg-3 col-md-6" *ngFor="let panelItem of panels;">
        <div class="product-wrapper text-center mb-30">
            <div class="product-img">
                <a routerLink="/shop-details">
                    <img [src]="panelItem?.img?.src" [alt]="panelItem?.img?.alt" />
                </a>
                <div class="product-action">
                    <a [routerLink]="null">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a [routerLink]="null">
                        <i class="fas fa-heart"> </i>
                    </a>
                    <a [routerLink]="null">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="product-text">
                <h4>
                    <a [routerLink]="panelItem?.href">{{ panelItem?.title }}</a>
                </h4>
                <div class="pro-rating">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                </div>
                <div class="pro-price"><span>{{ panelItem?.price }}</span></div>
            </div>
        </div>
    </div>

</div>