<footer>
    <div class="footer-area pt-200" [style.background-image]="'url(assets/img/bg/bg6.jpg)'">
        <div class="container">
            <div class="footer-bg pb-50">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper mb-30">
                            <div class="footer-logo">
                                <a routerLink="/">
                                    <img src="/assets/img/logo/white.png" alt="" />
                                </a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor amet cons adipisicing elit sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip.</p>
                            </div>
                            <div class="footer-icon">
                                <a [routerLink]="null">
                                    <i class="fab fa-facebook-f"> </i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-twitter"> </i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-linkedin"> </i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-youtube"> </i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-behance"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper pl-45 mb-30">
                            <div class="footer-title">
                                <h4>Customer Support</h4>
                                <img src="/assets/img/shape/f.png" alt="shape" />
                            </div>
                            <ul class="fotter-menu">
                                <li>
                                    <a [routerLink]="null">Help and Ordering</a>
                                </li>
                                <li>
                                    <a [routerLink]="null">Privacy Policy</a>
                                </li>
                                <li>
                                    <a [routerLink]="null">Return &amp; Cancellation</a>
                                </li>
                                <li>
                                    <a [routerLink]="null">Delevery Schedule</a>
                                </li>
                                <li>
                                    <a [routerLink]="null">Get a Call</a>
                                </li>
                                <li>
                                    <a [routerLink]="null">Online Enquiry</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper pl-45 mb-30">
                            <div class="footer-title">
                                <h4>Contact Info</h4>
                                <img src="/assets/img/shape/f.png" alt="shape" />
                            </div>
                            <ul class="fotter-link">
                                <li>
                                    <i class="far fa-paper-plane"> </i><span>205 Olazu Familia, Herba Street Front
                                        USA</span>
                                </li>
                                <li>
                                    <i class="far fa-envelope-open"> </i>
                                    <span>info@makamithi.com</span>
                                </li>
                                <li>
                                    <i class="far fa-headphones"> </i><span>002- 01008431112</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper pl-40 mb-30">
                            <div class="footer-title">
                                <h4>Newsletters</h4>
                                <img src="/assets/img/shape/f.png" alt="shape" />
                            </div>
                            <div class="footer-content">
                                <p>Enter your email and we’ll send you latest information plans.</p>
                            </div>
                            <div class="subscribes-form">
                                <div class="form-wrap"><input type="email" placeholder="Enter your emaill" /><button
                                        class="btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="copyright text-center">
                            <p>Copyright
                                <i class="far fa-copyright"></i>
                                2020 <a [routerLink]="null">BDevs</a>. All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>