<article class="postbox post format-image mb-40">
    <div class="postbox__thumb">
        <a [routerLink]="['.', post.url]">
            <img [src]="post.image" alt="blog image">
        </a>
    </div>
    <div class="postbox__text p-50">
        <div class="post-meta mb-15">
            <span>
                <i class="far fa-user"> </i> Soamlia
            </span>
            <span>
                <i class="far fa-calendar-check"></i> 05 Aug 2019
            </span>
            <span>
                <i class="far fa-comments"></i> (03)COMMENTS
            </span>
        </div>
        <h3 class="blog-title">
            <a [routerLink]="['.', post.url]">
                {{ post.title }}
            </a>
        </h3>
        <div class="post-text mb-20">
            <p>
                {{ post.text }}
            </p>
        </div>
        <div class="read-more mt-30">
            <a class="btn theme-btn" [routerLink]="['.', post.url]">Read
                More</a>
        </div>
    </div>
</article>