<main>
    <div class="post-comments-form">
        <div class="post-comments-title">
            <h2>Post Comments</h2>
        </div>
        <form id="contacts-form" class="conatct-post-form" action="#">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-icon contacts-message">
                        <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Your Comments...."></textarea>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="contact-icon contacts-name">
                        <input type="text" placeholder="Your Name.... ">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="contact-icon contacts-email">
                        <input type="email" placeholder="Your Email....">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="contact-icon contacts-website">
                        <input type="text" placeholder="Your Website....">
                    </div>
                </div>
                <div class="col-xl-12">
                    <button class="btn" type="submit"> <span class="btn-text">Post comment <i
                                class="far fa-long-arrow-right">
                            </i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>