<div class="gallery-area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                <div class="section-title text-center mb-70"
                    [class.section-circle]="gallerySectionDetails.getIn(['backgroundImage', 'src'])">
                    <div class="section-img">
                        <img [src]="gallerySectionDetails.getIn(['sectionImage', 'src'])"
                            [alt]="gallerySectionDetails.getIn(['sectionImage', 'alt'])" />
                    </div>
                    <h1>{{gallerySectionDetails.get('heading')}}</h1>
                    <p>
                        {{gallerySectionDetails.get('summary')}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery1.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery2.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery3.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery4.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery5.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery6.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery7.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="gallery-wrapper mb-30">
                    <div class="gallery-img">
                        <a routerLink="/gallery/gallery-details">
                            <img src="assets/img/gallery/gallery8.jpg" alt="" />
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" routerLink="/gallery/gallery-details">
                                <i class="ti-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>