<div class="team-area pt-120 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/1.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Pablo J. Bleich</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/2.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Louise F. Shows</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/3.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Normand Shannon</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/4.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Renita Gillenwater</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/5.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Jesse M. Gonzalez</h4>
                        <span>CEO &amp; Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/6.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Pearly J. Lewis</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/7.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Robert J. Foster</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-45">
                    <div class="team-img">
                        <img src="assets/img/team/8.jpg" alt="image">
                        <div class="team-icon">
                            <a [routerLink]="null">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a [routerLink]="null">
                                <span class="fab fa-behance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Sandra J. Robinson</h4>
                        <span>Organic Farmer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>