<div class="team-area pt-120 pb-70">
    <div class="container">
        <div class="row">
            <ng-container *ngIf="!team.isEmpty()">
                <div class="col-xl-3 col-lg-3 col-md-6" *ngFor="let teamItem of team;">
                    <div class="team-wrapper text-center mb-45">
                        <div class="team-img">
                            <mak-pit-img-lazy [src]="teamItem.getIn(['image', 'src'])"
                                [alt]="teamItem.getIn(['image', 'alt'])" width="100%" height="292px">
                            </mak-pit-img-lazy>
                            <div class="team-icon">
                                <a [href]="teamItem.getIn(['socialMedia', 'facebook'])" target="_blank"
                                    *ngIf="teamItem.getIn(['socialMedia', 'facebook'])">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                                <a [href]="teamItem.getIn(['socialMedia', 'twitter'])" target="_blank"
                                    *ngIf="teamItem.getIn(['socialMedia', 'twitter'])">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4>
                                {{ teamItem.get('fullName') }}
                            </h4>
                            <span>
                                {{ teamItem.get('role') }}
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="basic-pagination basic-pagination-2 text-center mt-20">
                    <ul>
                        <li *ngIf="fetchPrevious()">
                            <a [routerLink]="['..', fetchPrevious()]">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li *ngFor="let itemNumber of fakeObjectArray()"
                            [class.active]="markPageNavItemActive(itemNumber)">
                            <a [routerLink]="['/team',itemNumber + 1]">{{itemNumber + 1}}</a>
                        </li>
                        <li *ngIf="fetchNext()">
                            <a [routerLink]="['/team', fetchNext()]">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>