<div class="extra-info" [class.info-open]="sidebarOpen" [style.overflow-y]="'scroll'">
    <div class="close-icon">
        <button (click)="dispatchSetSidebarOpenEvt()">
            <i class="far fa-window-close fa-w-16"></i>
        </button>
    </div>
    <div class="logo-side mb-30">
        <a [routerLink]="null">
            <img src="assets/img/logo/logo-white.png" alt="logo" />
        </a>
    </div>
    <div class="side-info mb-30">
        <div class="contact-list mb-30" *ngIf="contactInfos?.has('addresses')">
            <h4>Office Address</h4>
            <p *ngFor="let address of contactInfos.get('addresses')">
                {{ address.get('addressTitle') }} ({{ address.get('address') }})
            </p>
        </div>
        <div class="contact-list mb-30" *ngIf="contactInfos?.has('phoneNumbers')">
            <h4>Phone Number</h4>
            <p *ngFor="let phoneNumber of contactInfos.get('phoneNumbers')">
                <a [style.color]="'inherit'" href="tel:{{phoneNumber|formatPhoneNumber:true}}">
                    {{ phoneNumber|formatPhoneNumber }}
                </a>
            </p>
        </div>
        <div class="contact-list mb-30" *ngIf="contactInfos?.has('emails')">
            <h4>Email Address</h4>
            <p *ngFor="let email of contactInfos.get('emails')">
                <a href="mailto:{{email}}" [style.color]="'inherit'">
                    {{ email }}
                </a>
            </p>
        </div>
    </div>
    <div class="instagram">
        <a [routerLink]="['/services', service.get('id'), 'services-details']" *ngFor="let service of services;">
            <mak-pit-img-lazy [src]="service.getIn(['navSidebarPhoto', 'src'])"
                [alt]="service.getIn(['navSidebarPhoto', 'alt'])" width="100%" height="70px"></mak-pit-img-lazy>
        </a>
    </div>
    <div class="social-icon-right mt-20">
        <a [href]="socialItem.get('link')" *ngFor="let socialItem of socialMedias;" target="_blank">
            <i [class]="socialItem.get('icon')"></i>
        </a>
    </div>
</div>