<main>
    <div class="widget mb-40">
        <div class="widget-title-box mb-30">
            <span class="animate-border">

            </span>
            <h3 class="widget-title">Social Profile</h3>
        </div>
        <div class="social-profile">
            <a [routerLink]="null">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a [routerLink]="null">
                <i class="fab fa-twitter"></i>
            </a>
            <a [routerLink]="null">
                <i class="fab fa-instagram"></i>
            </a>
            <a [routerLink]="null">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</main>