<main>
    <div class="widget mb-40">
        <div class="widget-title-box mb-30">
            <span class="animate-border">

            </span>
            <h3 class="widget-title">About Me</h3>
        </div>
        <div class="about-me text-center">
            <img src="assets/img/blog/details/me.png" alt="">
            <h4>Zulia Maron Duo</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore.</p>
            <div class="widget-social-icon">
                <a [routerLink]="null">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-twitter"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-instagram"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</main>