<main>
    <div class="post-comments">
        <div class="blog-coment-title mb-30">
            <h2>03 Comments</h2>
        </div>
        <div class="latest-comments">
            <ul>
                <li>
                    <div class="comments-box">
                        <div class="comments-avatar">
                            <img src="assets/img/blog/details/comments1.png" alt="">
                        </div>
                        <div class="comments-text">
                            <div class="avatar-name">
                                <h5>Karon Balina</h5>
                                <span>19th May 2018</span>
                                <a class="reply" [routerLink]="null">
                                    <i class="fas fa-reply"></i>Reply</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </li>
                <li class="children">
                    <div class="comments-box">
                        <div class="comments-avatar">
                            <img src="assets/img/blog/details/comments1.png" alt="">
                        </div>
                        <div class="comments-text">
                            <div class="avatar-name">
                                <h5>Julias Roy</h5>
                                <span>19th May 2018</span>
                                <a class="reply" [routerLink]="null">
                                    <i class="fas fa-reply"></i>Reply</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comments-box">
                        <div class="comments-avatar">
                            <img src="assets/img/blog/details/comments2.png" alt="">
                        </div>
                        <div class="comments-text">
                            <div class="avatar-name">
                                <h5>Arista Williamson</h5>
                                <span>19th May 2018</span>
                                <a class="reply" [routerLink]="null">
                                    <i class="fas fa-reply"></i>Reply</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>