<div class="services-details-area pt-120 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="services-sidebar mb-60"
                    [style.background-image]="'url(assets/img/service/service-details/4.jpg)'">
                    <div class="services-title">
                        <h1>Services</h1>
                        <div class="servicest-t-img">
                            <img src="assets/img/service/service-details/shape.png" alt="image">
                        </div>
                    </div>
                    <ul class="services-link">
                        <li>
                            <a [routerLink]="null">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg> Organic Vegetables</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg> Full Of Vitamins</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg> Fresh Milk &amp; Meat</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg> Organic Seeds</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg> Organic Fruits</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg> Corporate Design</a>
                        </li>
                    </ul>
                </div>
                <div class="services-sidebar mb-60"
                    [style.background-image]="'url(assets/img/service/service-details/5.jpg)'">
                    <div class="services-title">
                        <h1>Downloads</h1>
                        <div class="servicest-t-img">
                            <img src="assets/img/service/service-details/shape.png" alt="image">
                        </div>
                    </div>
                    <ul class="services-link">
                        <li>
                            <a [routerLink]="null">
                                <i class="far fa-file-word">

                                </i>Presentation pdf</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <i class="far fa-file-word">

                                </i>Wordfile.doc</a>
                        </li>
                    </ul>
                </div>
                <div class="services-sidebar servicess-sidebar p-0">
                    <div class="services-banner">
                        <a [routerLink]="null">
                            <img src="assets/img/service/service-details/banner.jpg" alt="image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 mb-30">
                <div class="services-details-wrapper">
                    <div class="services-details-img mb-50">
                        <img src="assets/img/service/service-details/1.jpg" alt="image">
                    </div>
                    <div class="services-details-text">
                        <h1>Organic Vegetables</h1>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                            was born and I will give you a complete account of the system, and expound the actual
                            teachings of the great explorer of the truth, the master-builder of human happiness. No one
                            rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who
                            do not know how to pursue pleasure rationally encounter consequences that are extremely
                            painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                            because it is pain, but because occasionally circumstances occur in which toil and pain can
                            procure him some great pleasure. To take a trivial example, which of us ever undertakes
                            laborious physical exercise, except to obtain some advantage from it? But who has any right
                            to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences,
                            or one who avoids a pain that produces no resultant pleasure</p>
                    </div>
                    <div class="services-details-info"
                        [style.background-image]="'url(assets/img/service/service-details/6.jpg)'">
                        <p>Sorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam voluptatem quia. </p>
                    </div>
                    <div class="services-details-text mb-35">
                        <h1>Why Needs Organic Food For Health</h1>
                        <p>No one rejects dislikes or avoids pleasure itself because it is pleasure but because those
                            who do not know how to pursue pleasure rationally encounter consequences that are extremely
                            painful. Nor again is there anyone who loves or pursues desires to obtain pain of itself
                            because it is pain, but because occasionally.</p>
                    </div>
                    <div class="row mb-30">
                        <div class="col-xl-6 col-lg-7 col-md-6 mb-30">
                            <div class="services-details-link">
                                <div class="services-details-icon-img">
                                    <img src="assets/img/service/service-details/icon2.png"
                                        alt="image">
                                </div>
                                <div class="services-details-link-text">
                                    <p>Lorem ipsum dolor sit amet consecte adipisic elit sed do eiusmod tempor
                                        incididunt</p>
                                </div>
                            </div>
                            <div class="services-details-link">
                                <div class="services-details-icon-img">
                                    <img src="assets/img/service/service-details/icon2.png"
                                        alt="image">
                                </div>
                                <div class="services-details-link-text">
                                    <p>Lorem ipsum dolor sit amet consecte adipisic elit sed do eiusmod tempor
                                        incididunt</p>
                                </div>
                            </div>
                            <div class="services-details-link">
                                <div class="services-details-icon-img">
                                    <img src="assets/img/service/service-details/icon2.png"
                                        alt="image">
                                </div>
                                <div class="services-details-link-text">
                                    <p>Lorem ipsum dolor sit amet consecte adipisic elit sed do eiusmod tempor
                                        incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-6 mb-30">
                            <div class="services-details-link-img">
                                <img src="assets/img/service/service-details/1.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="services2-img mb-30">
                                <img src="assets/img/service/service-details/2.jpg" alt="image">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="services2-img mb-30">
                                <img src="assets/img/service/service-details/3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="services2-details-text">
                        <p>Pleasure and praising pain was born and I will give you a complete account of the system, and
                            expound the actual teachings of the great explorer of the truth, the master-builder of human
                            happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
                            because those who do not know how to pursue pleasure rationally encounter consequences that
                            are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain
                            pain of itself, because it is pain, but because occasionally circumstances occur in which
                            toil and pain can procure him some </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>