<div class="faq-area gray2-bg pt-105 pb-100">
    <div class="faq-img d-none d-md-block" [style.background-image]="'url(assets/img/bg/bg13.jpg)'"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-6 offset-md-6">
                <div class="question-collapse">
                    <div class="faq-title">
                        <h1>Free Quentily Ask <br> Questions</h1>
                    </div>

                    <!-- Accordion Start -->
                    <mak-pit-accordion [collapsing]="collapsing">
                        <makPitAccordionItem [title]="faq.title" *ngFor="let faq of faqs">
                            <ng-template makPitAccordionContent>
                                <div class="accordion__panel">
                                    <p>
                                        {{ faq.description }}
                                    </p>
                                </div>
                            </ng-template>
                        </makPitAccordionItem>
                    </mak-pit-accordion>
                </div>
            </div>
        </div>
    </div>
</div>