<main>
    <div class="row">
        <div class="col-12">
            <div class="navigation-border pt-50 mt-40">

            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="bakix-navigation b-next-post text-left mb-30">
                <span>
                    <a [routerLink]="null">Next
                        Post</a>
                </span>
                <h4>
                    <a [routerLink]="null">Tips on Minimalist</a>
                </h4>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="bakix-navigation b-next-post text-left text-md-right  mb-30">
                <span>
                    <a [routerLink]="null">Next Post</a>
                </span>
                <h4>
                    <a [routerLink]="null">Tips on Minimalist</a>
                </h4>
            </div>
        </div>
    </div>
</main>