<div class="gallery-area pt-120 pb-60 gray-bg mb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/1.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/1.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Fresh Orange</a>
                        </h3>
                        <span>Organic Fruits</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/2.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/2.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Fresh Strawberry</a>
                        </h3>
                        <span>Organic Fruits</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/3.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/3.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Orange Tomato</a>
                        </h3>
                        <span>Vegetables</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/4.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/4.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Fresh Milks &amp; Meat</a>
                        </h3>
                        <span>Organic Fruits</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/5.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/5.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Organic Carrots</a>
                        </h3>
                        <span>Fresh Food</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/6.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/6.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Orange Seeds</a>
                        </h3>
                        <span>Vegetables</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/7.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/7.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Fresh Orange</a>
                        </h3>
                        <span>Organic Fruits</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/8.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/8.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Fresh Milks &amp; Meat</a>
                        </h3>
                        <span>Organic Fruits</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-wrapper mb-60">
                    <div class="gallery-img">
                        <a routerLink="./gallery-details">
                            <img src="/assets/img/gallery/gallery2/9.jpg" alt="image">
                        </a>
                        <div class="gallery-icon">
                            <a class="popup-image" href="/assets/img/gallery/gallery2/9.jpg">
                                <i class="ti-plus">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-text text-center">
                        <h3>
                            <a routerLink="./gallery-details">Orange Tomato</a>
                        </h3>
                        <span>Organic Fruits</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>