<div class="product-area pos-relative pt-110 pb-120 fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-7">
                <div class="product-showing">
                    <p>Showing 1–22 of 32 results</p>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-5">
                <div class="pro-filter mb-40 f-right">
                    <form>
                        <select name="pro-filter" id="pro-filter">
                            <option value="1">Shop By</option>
                            <option value="2">Top Sales </option>
                            <option value="3">New Product </option>
                            <option value="4">A to Z Product </option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/product1.png" alt="product">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Broccoli Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$49.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/product2.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Avocado Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$29.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/product3.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Breadfruit Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$25.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/product4.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Blackberries Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$49.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/05.png" alt="product">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Broccoli Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$49.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/06.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Avocado Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$29.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/07.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Breadfruit Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$25.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/08.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Blackberries Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$49.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/09.png" alt="product">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Broccoli Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$49.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/10.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Avocado Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$29.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/11.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Breadfruit Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$25.99</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="product-wrapper text-center mb-30">
                    <div class="product-img">
                        <a routerLink="./shop-details">
                            <img src="assets/img/product/12.png" alt="image">
                        </a>
                        <div class="product-action">
                            <a [routerLink]="null">
                                <i class="fas fa-shopping-cart"> </i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fas fa-search"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h4>
                            <a routerLink="./shop-details">Blackberries Head</a>
                        </h4>
                        <div class="pro-rating">
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                            <i class="fas fa-star"> </i>
                        </div>
                        <div class="pro-price">
                            <span>$49.99</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="basic-pagination basic-pagination-2 text-center mt-20">
                    <ul>
                        <li>
                            <a [routerLink]="null">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="null">01</a>
                        </li>
                        <li>
                            <a [routerLink]="null">02</a>
                        </li>
                        <li>
                            <a [routerLink]="null">03</a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="null">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>