<div class="gallery-area pt-125 pb-90">
    <div class="container-fluid">
        <mak-pit-tabs selectedTabClassName="active" className="row">
            <div class="col-xl-12">
                <mak-pit-tab-list className="portfolio-menu mb-70 text-center">
                    <ng-template makPitTab>All</ng-template>

                    <ng-template makPitTab>Vegetables</ng-template>

                    <ng-template makPitTab>Orange</ng-template>

                    <ng-template makPitTab>Shallot</ng-template>

                    <ng-template makPitTab>Pumpkin</ng-template>
                </mak-pit-tab-list>
            </div>

            <mak-pit-tab-item>
                <ng-template makPitTabPanel className="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery1.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery1.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery2.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery2.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery3.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery3.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery4.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery4.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery5.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery5.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery6.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery6.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery7.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery7.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery8.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery8.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery9.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery9.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery10.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery10.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery11.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery12.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery12.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery12.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template makPitTabPanel className="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery1.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery1.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery2.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery2.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery5.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery5.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery3.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery3.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template makPitTabPanel className="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery4.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery4.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery5.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery5.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery6.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery6.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery2.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery2.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template makPitTabPanel className="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery7.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery7.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery5.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery5.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery8.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery8.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery9.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery9.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template makPitTabPanel className="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery10.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery10.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery11.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery12.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery5.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery5.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="gallery-wrapper mb-30">
                                <div class="gallery-img">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/gallery/gallery12.jpg" alt='image' />
                                    </a>
                                    <div class="gallery-icon">
                                        <a class="popup-image" href="img/gallery/gallery12.jpg">
                                            <i class="ti-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </mak-pit-tab-item>
        </mak-pit-tabs>
    </div>
</div>