<main>
    <div class="row mt-50">
        <div class="col-xl-8 col-lg-8 col-md-8 mb-15">
            <div class="blog-post-tag">
                <span>Releted Tags</span>
                <a [routerLink]="null">organic</a>
                <a [routerLink]="null">Foods</a>
                <a [routerLink]="null">tasty</a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 mb-15">
            <div class="blog-share-icon text-left text-md-right">
                <span>Share: </span>
                <a [routerLink]="null">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-twitter"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-instagram"></i>
                </a>
                <a [routerLink]="null">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</main>