<div class="services-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img src="/assets/img/service/4.jpg" alt="image">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">Blackcurrant Vegetables</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img src="/assets/img/service/5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">Breadfruit Vegetables</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img src="/assets/img/service/3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">Banana Vegetables</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img src="/assets/img/service/6.jpg" alt="image">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">Avocado Vegetables</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img src="/assets/img/service/7.jpg" alt="image">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">Apple Vegetables</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img src="/assets/img/service/8.jpg" alt="image">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">Apricots Vegetables</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>