<div class="contact-address-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="contact-address-wrapper mb-30">
                    <div class="contact-address-title">
                        <h2>London</h2>
                        <div class="contact-address-img">
                            <img src="assets/img/shape/c.png" alt="image" />
                        </div>
                    </div>
                    <ul class="contact-link">
                        <li>82 Bernie Greens Apt. 210, <br /> Hendon Way, London, UK</li>
                        <li>zomata@example.com</li>
                        <li>+53 213 5941 295</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="contact-address-wrapper mb-30">
                    <div class="contact-address-title">
                        <h2>New York</h2>
                        <div class="contact-address-img">
                            <img src="assets/img/shape/c.png" alt="image" />
                        </div>
                    </div>
                    <ul class="contact-link">
                        <li>205 Bernie Greens Apt. 210, <br /> Hendon Way, London, UK</li>
                        <li>zomata@example.com</li>
                        <li>+53 213 5941 295</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="contact-address-wrapper mb-30">
                    <div class="contact-address-title">
                        <h2>Paris</h2>
                        <div class="contact-address-img">
                            <img src="assets/img/shape/c.png" alt="image" />
                        </div>
                    </div>
                    <ul class="contact-link">
                        <li>82 Bernie Greens Apt. 210, <br /> Hendon Way, London, UK</li>
                        <li>zomata@example.com</li>
                        <li>+53 213 5941 295</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>