<div class="brand-area">
    <div class="container">
        <div class="brand-bg pt-80 pb-80" style="background-image:url(assets/img/bg/bg5.jpg)">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand-active">
                        <div class="slick-slider brand-active slick-initialized" dir="ltr">
                            <div class="slick-list">
                                <div class="slick-track" style="width:700%;left:-100%">
                                    <div data-index="-5" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="-4" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="-3" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="-2" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                                        aria-hidden="false" style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="1" class="slick-slide slick-active" tabindex="-1"
                                        aria-hidden="false" style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="2" class="slick-slide slick-active" tabindex="-1"
                                        aria-hidden="false" style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="3" class="slick-slide slick-active" tabindex="-1"
                                        aria-hidden="false" style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="4" class="slick-slide slick-active" tabindex="-1"
                                        aria-hidden="false" style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="7" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="8" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="9" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="10" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="11" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="12" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="13" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="14" class="slick-slide" tabindex="-1" aria-hidden="true"
                                        style="outline:none;width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="15" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="16" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="17" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="18" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="19" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="20" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="21" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="22" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="23" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="24" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="25" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/1-2b21d63e70a4c2721e60b2a454286857.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="26" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/2-9fbdb0fac0c0e2f6cb7cdd578d7ff5a5.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="27" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/3-d56e45bc9794565e2883f4a68dc4ca85.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="28" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/4-c5298b691d8be2e5801cab23956e7086.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-index="29" tabindex="-1" class="slick-slide slick-cloned"
                                        aria-hidden="true" style="width:2.857142857142857%">
                                        <div>
                                            <div class="col-xl-12" tabindex="-1"
                                                style="width:100%;display:inline-block">
                                                <div class="brans-img text-center"><img
                                                        src="/assets/images/5-e4e25ce41845dfa8e586972cb38783c7.png"
                                                        alt="brand" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>