<div class="about-us-area pt-115 pb-90" [style.background-image]="'url(assets/img/bg/about.png)'">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-us-img mb-30">
                    <img [src]="aboutSectionDetails.getIn(['photo', 'src'])"
                        [alt]="aboutSectionDetails.getIn(['photo', 'alt'])" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 ">
                <div class="about-us-text mb-30">
                    <h1 [innerHTML]="aboutSectionDetails.get('heading')"> </h1>
                    <span>{{ aboutSectionDetails.get('subheading') }}</span>
                    <p>
                        {{ aboutSectionDetails.get('description') }}
                    </p>
                    <a class="btn" routerLink="/about-us">Learn
                        More</a>
                </div>
            </div>
        </div>
    </div>
</div>