<section class="shop-banner-area pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <mak-pit-tabs selectedTabClassName="active">
                    <div class="product-details-img mb-20">
                        <mak-pit-tab-item>
                            <ng-template makPitTabPanel>
                                <div class="product-large-img">
                                    <img src="/assets/img/product/lg1.jpg" alt="image" />
                                </div>
                            </ng-template>
                            <ng-template makPitTabPanel>
                                <div class="product-large-img">
                                    <img src="/assets/img/product/lg2.jpg" alt="image" />
                                </div>
                            </ng-template>
                            <ng-template makPitTabPanel>
                                <div class="product-large-img">
                                    <img src="/assets/img/product/lg3.jpg" alt="image" />
                                </div>
                            </ng-template>
                        </mak-pit-tab-item>

                    </div>

                    <mak-pit-tab-list className="shop-thumb-tab mb-30">
                        <ng-template makPitTab>
                            <a class="nav-link">
                                <img src="assets/img/product/lg1.jpg" alt="image" />
                            </a>
                        </ng-template>

                        <ng-template makPitTab>
                            <a class="nav-link">
                                <img src="assets/img/product/lg2.jpg" alt="image" />
                            </a>
                        </ng-template>

                        <ng-template makPitTab>
                            <a class="nav-link">
                                <img src="assets/img/product/lg3.jpg" alt="image" />
                            </a>
                        </ng-template>
                    </mak-pit-tab-list>


                </mak-pit-tabs>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="product-details mb-30">
                    <div class="product-details-title">
                        <h1>Natural Organic Tomato</h1>
                        <div class="details-price mb-20">
                            <span>$700.00</span>
                            <span class="old-price">$820.00</span>
                        </div>
                        <div class="pro-rating mb-20">
                            <span class="far fa-star">

                            </span>
                            <span class="far fa-star">

                            </span>
                            <span class="far fa-star">

                            </span>
                            <span class="far fa-star">

                            </span>
                            <span class="far fa-star">

                            </span>
                        </div>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                    <div class="product-social mb-30">
                        <a [routerLink]="null">
                            <span class="fab fa-facebook-f">

                            </span>
                        </a>
                        <a [routerLink]="null">
                            <span class="fab fa-twitter">

                            </span>
                        </a>
                        <a [routerLink]="null">
                            <span class="fab fa-behance">

                            </span>
                        </a>
                        <a [routerLink]="null">
                            <span class="fab fa-linkedin-in">

                            </span>
                        </a>
                        <a [routerLink]="null">
                            <span class="fab fa-youtube">

                            </span>
                        </a>
                    </div>
                    <div class="product-details-action">
                        <form>
                            <div class="plus-minus">
                                <div class="cart-plus-minus">
                                    <input type="text" value="1" />
                                </div>
                            </div>
                            <button class="btn btn-black" type="submit">add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-50">
            <div class="col-xl-12">
                <div class="product-review">
                    <mak-pit-tabs selectedTabClassName="active">
                        <mak-pit-tab-list className="nav review-tab">
                            <ng-template makPitTab className="nav-item">
                                <a class="nav-link">Description</a>
                            </ng-template>

                            <ng-template makPitTab className="nav-item">
                                <a class="nav-link">Reviews (2)</a>
                            </ng-template>
                        </mak-pit-tab-list>

                        <div class="tab-content">
                            <mak-pit-tab-item>
                                <ng-template makPitTabPanel>
                                    <div class="review-text mt-30">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod
                                            tempor incididunt ut labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi
                                            ut aliquip ex ea commodo consequat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod
                                            tempor incididunt ut labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi
                                            ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </ng-template>
                                <ng-template makPitTabPanel>
                                    <div class="review-text mt-30">
                                        <div class="product-commnets">
                                            <div class="product-commnets-list">
                                                <div class="pro-comments-img">
                                                    <img src="/assets/img/product/comments/01.png" alt="image">
                                                </div>
                                                <div class="pro-commnets-text">
                                                    <h4>Roger West - <span>June 5, 2017</span>
                                                    </h4>
                                                    <div class="pro-rating">
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod tempor incididunt ut
                                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                        nostrud exercitation.</p>
                                                </div>
                                            </div>
                                            <div class="product-commnets-list mt-30">
                                                <div class="pro-comments-img">
                                                    <img src="/assets/img/product/comments/02.png" alt="image">
                                                </div>
                                                <div class="pro-commnets-text">
                                                    <h4>Roger West -<span>June 5, 2017</span>
                                                    </h4>
                                                    <div class="pro-rating">
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                        <span class="far fa-star"></span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod tempor incididunt ut
                                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                        nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-40">
                                        <div class="col-xl-7">
                                            <div class="review-box">
                                                <h4>Add a Review</h4>
                                                <div class="your-rating mb-40">
                                                    <span>Your Rating : </span>
                                                    <div class="rating-list">
                                                        <a [routerLink]="null">
                                                            <span class="far fa-star"></span>
                                                        </a>
                                                        <a [routerLink]="null">
                                                            <span class="far fa-star"></span>
                                                        </a>
                                                        <a [routerLink]="null">
                                                            <span class="far fa-star"></span>
                                                        </a>
                                                        <a [routerLink]="null">
                                                            <span class="far fa-star"></span>
                                                        </a>
                                                        <a [routerLink]="null">
                                                            <span class="far fa-star"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <form class="review-form">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <label for="message">YOUR REVIEW</label>
                                                            <textarea name="message" id="message" cols="30"
                                                                rows="10"></textarea>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label for="r-name">Name</label>
                                                            <input type="text" id="r-name" />
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label for="r-email">Email</label>
                                                            <input type="email" id="r-email" />
                                                        </div>
                                                        <div class="col-xl-12">
                                                            <button class="btn brand-btn">Add your Review</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                            </mak-pit-tab-item>
                        </div>
                    </mak-pit-tabs>
                </div>
            </div>
        </div>
    </div>
</section>