<mak-pit-site-breadcrumb pageTitle="Blog Sidebar"></mak-pit-site-breadcrumb>

<main>
    <section class="blog-area gray-bg pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div *ngFor="let post of posts;">
                        <mak-pit-article-layout [post]="post"></mak-pit-article-layout>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget mb-40">
                        <div class="widget-title-box mb-30">
                            <span class="animate-border">

                            </span>
                            <h3 class="widget-title">Search Objects</h3>
                        </div>
                        <form class="search-form">
                            <input type="text" placeholder="Search your keyword...">
                            <button type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget mb-40">
                        <div class="widget-title-box mb-30">
                            <span class="animate-border">

                            </span>
                            <h3 class="widget-title">About Me</h3>
                        </div>
                        <div class="about-me text-center">
                            <img src="assets/img/blog/details/me.png" alt="">
                            <h4>Zulia Maron Duo</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore.</p>
                            <div class="widget-social-icon">
                                <a [routerLink]="null">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a [routerLink]="null">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget mb-40">
                        <div class="widget-title-box mb-30">
                            <span class="animate-border">

                            </span>
                            <h3 class="widget-title">Popular Feeds</h3>
                        </div>
                        <ul class="recent-posts">
                            <li>
                                <div class="widget-posts-image">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/blog/details/img1.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="widget-posts-body">
                                    <h6 class="widget-posts-title">
                                        <a [routerLink]="null">Lorem ipsum dolor sit cing elit, sed
                                            do.</a>
                                    </h6>
                                    <div class="widget-posts-meta">October 18, 2018 </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget-posts-image">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/blog/details/img2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="widget-posts-body">
                                    <h6 class="widget-posts-title">
                                        <a [routerLink]="null">Lorem ipsum dolor sit cing elit, sed
                                            do.</a>
                                    </h6>
                                    <div class="widget-posts-meta">October 24, 2018 </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget-posts-image">
                                    <a [routerLink]="null">
                                        <img src="/assets/img/blog/details/img3.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="widget-posts-body">
                                    <h6 class="widget-posts-title">
                                        <a [routerLink]="null">Lorem ipsum dolor sit cing elit, sed
                                            do.</a>
                                    </h6>
                                    <div class="widget-posts-meta">October 28, 2018 </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget mb-40">
                        <div class="widget-title-box mb-30">
                            <span class="animate-border">

                            </span>
                            <h3 class="widget-title">Categories</h3>
                        </div>
                        <ul class="cat">
                            <li>
                                <a [routerLink]="null">Lifestyle <span class="f-right">78</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="null">Travel <span class="f-right">42</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="null">Fashion <span class="f-right">32</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="null">Music <span class="f-right">85</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="null">Branding <span class="f-right">05</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget mb-40">
                        <div class="widget-title-box mb-30">
                            <span class="animate-border">

                            </span>
                            <h3 class="widget-title">Social Profile</h3>
                        </div>
                        <div class="social-profile">
                            <a [routerLink]="null">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a [routerLink]="null">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget mb-40">
                        <div class="widget-title-box mb-30">
                            <span class="animate-border">

                            </span>
                            <h3 class="widget-title">Instagram Feeds</h3>
                        </div>
                        <div class="tag">
                            <a [routerLink]="null">Popular</a>
                            <a [routerLink]="null">desgin</a>
                            <a [routerLink]="null">usability</a>
                            <a [routerLink]="null">develop</a>
                            <a [routerLink]="null">consult</a>
                            <a [routerLink]="null">icon</a>
                            <a [routerLink]="null">HTML</a>
                            <a [routerLink]="null">ux</a>
                            <a [routerLink]="null">business</a>
                            <a [routerLink]="null">kit</a>
                            <a [routerLink]="null">keyboard</a>
                            <a [routerLink]="null">tech</a>
                        </div>
                    </div>
                    <div class="widget mb-40 b-0">
                        <div class="banner-widget">
                            <a [routerLink]="null">
                                <img src="assets/img/blog/details/banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>