<div class="services-area pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let service of listService;">
                <div class="services-wrapper single-services mb-60">
                    <div class="services-img">
                        <a routerLink="/services/services-details">
                            <img [src]="service.image" [alt]="service.title">
                        </a>
                    </div>
                    <div class="services-text text-center">
                        <h3>
                            <a routerLink="/services/services-details">
                                {{ service.title | slice:0:17 }}
                            </a>
                        </h3>
                        <p>
                            {{ service.description }}
                        </p>
                        <a routerLink="/services/services-details">Read More <i class="dripicons-arrow-thin-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>