<div class="cta-area pt-100 pb-90" [style.background-image]="'url(assets/img/bg/bg2.jpg)'">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="cta-wrapper mb-15">
                    <div class="cta-img">
                        <img src="/assets/img/shape/3.png" alt="shape" />
                    </div>
                    <div class="cta-text">
                        <h1>Visit Our Zomata Organic</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis
                            nostrud exercitation ullamco laboris nisi ut aliquie.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="cta-button mb-15 text-md-right">
                    <a class="btn" href="/about-us">Visit Now</a>
                </div>
            </div>
        </div>
    </div>
</div>