<mak-pit-header-style-two></mak-pit-header-style-two>

<mak-pit-site-breadcrumb pageTitle="Privacy Policy"></mak-pit-site-breadcrumb>

<main>
    <div class="about-us-area about-shape pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="about-info mb-30">
                        <h1>PRIVACY POLICY</h1>
                        <p>
                            WE FULFILL OUR DUTIES THROUGH OUR COMMITMENT TO BE BRIEF, CLEAR AND TRANSPARENT, PRESENTING
                            ALL THE ESSENTIAL INFORMATION IN THE LINES THAT FOLLOW.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-area gray2-bg pt-105 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="accordion-wrapper">
                        <div data-accordion-component="Accordion" class="accodion-style--1">
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading"
                                    class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-0" aria-disabled="false"
                                        aria-expanded="false" aria-controls="accordion__panel-0" role="button"
                                        tabindex="0" data-accordion-component="AccordionItemButton">
                                        <h5>Why Do You Eat Orange Food?</h5>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel"
                                    role="region" aria-labelledby="accordion__heading-0" id="accordion__panel-0"
                                    hidden="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute
                                        irure aliquam quaerat.</p>
                                </div>
                            </div>
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading"
                                    class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-1" aria-disabled="true"
                                        aria-expanded="true" aria-controls="accordion__panel-1" role="button"
                                        tabindex="0" data-accordion-component="AccordionItemButton">
                                        <h5>Why Orange Food Is The Best For Health?</h5>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel"
                                    role="region" aria-labelledby="accordion__heading-1" id="accordion__panel-1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute
                                        irure aliquam quaerat.</p>
                                </div>
                            </div>
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading"
                                    class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-2" aria-disabled="false"
                                        aria-expanded="false" aria-controls="accordion__panel-2" role="button"
                                        tabindex="0" data-accordion-component="AccordionItemButton">
                                        <h5>Good Food For Good Health?</h5>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel"
                                    role="region" aria-labelledby="accordion__heading-2" id="accordion__panel-2"
                                    hidden="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat aute
                                        irure aliquam quaerat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>