<div ngClass="slider-area">
    <div class="slick-slider slider-active slick-initialized">

        <ngx-skeleton-loader *ngIf="showLoader; else itemsAlreadLoaded;" [theme]="{
                height: '750px',
                width: '100%'
            }"></ngx-skeleton-loader>

        <ng-template #itemsAlreadLoaded>
            <owl-carousel-o [options]="customOptions" #carousel>
                <ng-container *ngFor="let ad of bannerAds;">
                    <ng-template carouselSlide>
                        <div ngClass="single-slider">
                            <div class="slider-height  d-flex align-items-center"
                                [style.background-image]="'url(' + ad.getIn(['photo','src'])+')'">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h1 [innerHTML]="ad.get('title')"> </h1>
                                            <p>
                                                {{ ad.get('description') }}
                                            </p>

                                            <div class="slider-button">
                                                <a class="btn" routerLink="/services">Our Services</a>
                                                <a class="btn active" [routerLink]="null">Contact Us</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </ng-template>
    </div>
</div>